
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EPIC INTERIORS</title>
    <meta name="description" content="Agency and Personal Portfolio Template." />
    <meta name="keywords" content="portfolio, agency, bootstrap theme, mobile responsive, template">

    <!-- core CSS -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!--[if lt IE 9]>
    @Scripts.Render("~/bundles/proenhance")
    <![endif]-->

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="Content/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="Content/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="Content/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="Content/img/apple-touch-icon-114x114.png">

    <!-- Google Fonts
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

</head>
<body>

    <!-- Main Navigation
    ================================================== -->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home", new { @class = "navbar-brand" })'>
                    <img src='@Url.Content("~/Content/img/logo.png")' />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#tf-home" class="scroll">Home</a></li>
                    <li><a href="#tf-services" class="scroll">Services</a></li>
                    <li><a href="#tf-about" class="scroll">About</a></li>
                    <li><a href="#tf-works" class="scroll">Works</a></li>
                    <li><a href="#tf-process" class="scroll">Process</a></li>
                    <li><a href="#tf-pricing" class="scroll">Pricing</a></li>
                    <li><a href="#tf-blog" class="scroll">Blog</a></li>
                    <li><a href="#tf-contact" class="scroll">Contact</a></li>
                    <li>@Html.ActionLink("Administrator", "Admin", "Home", htmlAttributes: new { @class = "btn btn-primary admin" })</li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    @RenderBody()

    <!-- Footer
    ================================================== -->
    <div id="tf-footer">
        <div class="container">
            <!-- container -->
            <p class="pull-left">© @DateTime.Now.Year EPIC INTERIORS. All rights reserved.</p> <!-- copyright text here-->
            <ul class="list-inline social pull-right">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li> <!-- Change # With your FB Link -->
                <li><a href="#"><i class="fa fa-twitter"></i></a></li> <!-- Change # With your Twitter Link -->
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li> <!-- Change # With your Google Plus Link -->
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li> <!-- Change # With your Dribbble Link -->
                <li><a href="#"><i class="fa fa-behance"></i></a></li> <!-- Change # With your Behance Link -->
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li> <!-- Change # With your LinkedIn Link -->
                <li><a href="#"><i class="fa fa-youtube"></i></a></li> <!-- Change # With your Youtube Link -->
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li> <!-- Change # With your Pinterest Link -->
            </ul>
        </div><!-- end container -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    @Scripts.Render("~/bundles/customjs")
    @RenderSection("scripts", required: false)

    <script>
        new WOW().init();
    </script>

</body>
</html>